<app-header></app-header>

<table id="hero">
  <thead>
    <th>Name</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Place</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let hero of heroes">
      <td>{{ hero.name }}</td>
      <td>{{ hero.firstName }}</td>
      <td>{{ hero.lastName }}</td>
      <td>{{ hero.place }}</td>
      <td>
        <button (click)="editHero(hero)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<app-edit-hero
  [hero]="heroToEdit"
  (heroesUpdated)="updateHeroList($event)"
></app-edit-hero>

<button (click)="initNewHero()">
  <mat-icon>person_add</mat-icon>
</button>

<app-footer></app-footer>
